.-blog-mx-2 {
  margin-right: calc(2 * var(--space-unit) * -1);
  margin-left: calc(2 * var(--space-unit) * -1);
}

.blog-gap-y-12 {
  row-gap: calc(12 * var(--space-unit));
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#main-content > div:first-of-type.cc-main-blog,
#main-content > div:first-of-type.cc-main-article {
  margin-top: calc(var(--section-gap) * var(--fluid-1-5) + 8px);
}

/* stylelint-enable selector-max-id */
/* stylelint-enable selector-no-qualifying-type */
.cc-article-comments {
  margin-top: calc(10 * var(--space-unit) * -1);
}

@media (min-width: 768px) {
  .featured-card {
    margin-right: 0;
    margin-left: 0;
  }
  .blog-meta-half {
    flex: 0 0 auto;
    max-width: 50%;
  }

  
}
@media (min-width: 769px) {
  .md\:blog-mb-6 {
    margin-bottom: calc(6 * var(--space-unit));
  }
}
@media (min-width: 1024px) {
  .lg\:blog-mb-6 {
    margin-bottom: calc(6 * var(--space-unit));
  }
  .lg\:blog-gap-y-16 {
    row-gap: calc(16 * var(--space-unit));
  }
  .lg\:blog-mb-16 {
    margin-bottom: calc(16 * var(--space-unit));
  }
  .lg\:blog-mt-16 {
    margin-top: calc(16 * var(--space-unit));
  }
}
@media (min-width: 1280px) {
  .featured-card .card.color-scheme .card__info {
    padding: 5px 0;
  }
}
.blog-articles{
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}
.blog-articles article{
  background-color: transparent;
}

@media (min-width: 769px) {
    .blog-articles .card--article.card--featured {
        flex-direction: column;
        border-radius: 10px;
    }
}
.mt-6.mb-6.lg\:blog-mb-16.lg\:blog-mt-16.md-down\:-mx-gutter.featured-card {
    flex: 0 0 33.33%;
}
.blog-articles.card__media.img-fit,
.md\:img-fit {
 position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card__media{
  border-radius: 10px;
}


 .mb-5{
overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
 }
@media (max-width: 768px) {
.blog-articles {
  flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}
.card__media{
  border-radius: 10px;
}
.card--article.card--featured .card__info {
    padding: 5px 0;
  }
}